{% extends "layouts/base.html" %}

{% block title %}
Manage Users
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="mb-4 text-center">

        Manage Users

    </h1>

    <form method="GET" class="row mb-4">

        <div class="col-md-10">

            <input type="text" name="search" class="form-control" placeholder="Search user by name or email..."
                value="{{ request.args.get('search', '') }}">

        </div>

        <div class="col-md-2">

            <button class="btn btn-success w-100">

                Search

            </button>

        </div>

    </form>

    {% if users %}

    <table class="table table-bordered table-hover">

        <thead class="table-success">

            <tr>

                <th>Name</th>

                <th>Email</th>

                <th>Status</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            {% for user in users %}

            <tr>

                <td>{{ user.full_name }}</td>

                <td>{{ user.email }}</td>

                <td>

                    {% if user.is_blacklisted %}

                    <span class="badge bg-danger">

                        Deactivated

                    </span>

                    {% else %}

                    <span class="badge bg-success">

                        Active

                    </span>

                    {% endif %}

                </td>

                <td>

                    {% if user.is_blacklisted %}

                    <a href="{{ url_for('toggle_user', user_id=user.id) }}" class="btn btn-success btn-sm"
                        onclick="return confirm('Activate this user again?')">

                        Activate

                    </a>

                    {% else %}

                    <a href="{{ url_for('toggle_user', user_id=user.id) }}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to deactivate this user?')">

                        Deactivate

                    </a>


                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="alert alert-warning text-center">

        No users found.

    </div>

    {% endif %}

</div>

{% endblock %}